
<app-header></app-header>
<ul style="color:white;font-size: larger;" *ngFor="let dados of conselho">

 <strong>Conselho {{dados.created_all | async}}</strong>

</ul>


<main>
    <app-knowledge></app-knowledge>

    <app-experiences></app-experiences>

    @defer (on viewport) {
      <app-projects></app-projects>
    }

    @placeholder {
      <section>
        <h2>Carregando projetos desenvolvidos...</h2>
      </section>
    }

    @error {
      <section>
        <h2>Erro no Download do componente...</h2>
      </section>
    }

</main>


